@charset "UTF-8";

/*弹出登录框使用的样式*/
#fullbg {
	background-color: gray;
	left: 0;
	opacity: 0.5;
	position: absolute;
	top: 0;
	z-index: 3;
	filter: alpha(opacity = 50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
}

#login {
	background-color: #fff;
	border: 5px solid rgba(0, 0, 0, 0.4);
	height: 400px;
	left: 50%;
	margin: -200px 0 0 -200px;
	padding: 1px;
	position: fixed !important; /* 浮动对话框 */
	position: absolute;
	top: 50%;
	width: 400px;
	z-index: 5;
	border-radius: 5px;
	display: none;
}

#login p {
	margin: 0 0 12px;
	height: 24px;
	line-height: 24px;
	background: #CCCCCC;
}

#login p.close {
	text-align: right;
	padding-right: 10px;
}

#login p.close a {
	color: #fff;
	text-decoration: none;
}

/*lib.html显示内容使用的样式*/
.sections {
	background-color: #ffffff;
	margin-top: 20px;
	padding: 10px 20px;
}

.recommend-heading {
	height: 30px;
	line-height: 30px;
	font-size: 20px;
	font-weight: normal;
	color: #f95844;
	border-bottom: 1px solid #ddd;
}

.more {
	font-size: 13px;
	font-weight: normal;
	color: #000;
	float: right;
	min-width: 45px;
}

ul.repo-list>li ul.repo-stats {
	font-size: 13px;
	font-weight: bold;
	float: right;
	margin: 3px 0 0 20px;
}

ul.repo-list>li ul.repo-stats li a {
	display: inline-block;
	padding: 1px 5px;
	color: #838383;
}

.uploader {
	font-size: 11px;
	color: #999;
}

ul.repo-list>li h3 {
	margin: 0;
	width: 410px;
	font-size: 16px;
	font-weight: normal;
	line-height: 30px;
}

ul.repo-list>li .description {
	margin: 0;
	font-size: 14px;
	color: #615656;
	width: 485px;
}

ul.repo-list>li {
	position: relative;
	margin: 0;
	padding: 5px 0;
	border-bottom: 1px solid #eeeeee;
}

ul li {
	list-style-type: none;
}

li {
	line-height: 18px;
}

/* admin/index.html 样式*/
.dateGrid_operate {
	border-bottom: 1px solid #ddd;
	padding: 0px;
}

#dateGrid_tilte, #dateGrid {
	border-top: #ddd solid 1px;
	border-left: #ddd solid 1px;
	width: 100%;
	table-layout: fixed;
}

#dateGrid_tilte th {
	background-color: #f5f5f5;
	border-bottom: #ddd solid 1px;
	border-right: #ddd solid 1px;
	overflow: hidden;
	white-space: nowrap;
}

#dateGrid td {
	overflow: hidden;
	white-space: nowrap;
	border-bottom: #ddd solid 1px;
	border-right: #ddd solid 1px;
}

.dateGrid_div {
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	overflow: hidden;
}

/*容纳表格内容的DIV,这个DIV上放置滚动条*/
.content {
	height: 300px; /*定一下高度,要不然就撑出来没滚动条了*/
	overflow-y:auto;
	overflow-x:auto;
}