@charset "UTF-8";

body {
	/*修改字体*/
	font-family: Arial, "宋体";
	margin: 0;
}
/*这部分是弹出登录框使用的样式*/
#fullbg {
	background-color: gray;
	left: 0;
	opacity: 0.5;
	position: absolute;
	top: 0;
	z-index: 3;
	filter: alpha(opacity = 50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
}

#login {
	background-color: #fff;
	border: 5px solid rgba(0, 0, 0, 0.4);
	height: 400px;
	left: 50%;
	margin: -200px 0 0 -200px;
	padding: 1px;
	position: fixed !important; /* 浮动对话框 */
	position: absolute;
	top: 50%;
	width: 400px;
	z-index: 5;
	border-radius: 5px;
	display: none;
}

#login p {
	margin: 0 0 12px;
	height: 24px;
	line-height: 24px;
	background: #CCCCCC;
}

#login p.close {
	text-align: right;
	padding-right: 10px;
}

#login p.close a {
	color: #fff;
	text-decoration: none;
}

/*这部分是lib.html显示内容使用的样式*/

div {
	display: block;
}

.sections {
	background-color: #ffffff;
	margin-top: 20px;
	padding: 10px 20px;
}

h2 {
	height: 30px;
	line-height: 30px;
	font-size: 20px;
	font-weight: normal;
	color: #f95844;
	border-bottom: 1px solid #ddd;
}

.more {
	font-size: 13px;
	font-weight: normal;
	color: #000;
	float: right;
	min-width: 45px;
}

ul, menu, dir {
	display: block;
	list-style-type: disc;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 40px;
}

ul.repo-list>li ul.repo-stats {
	font-size: 13px;
	font-weight: bold;
	float: right;
	margin: 3px 0 0 20px;
}

ul.repo-list>li ul.repo-stats li a {
	display: inline-block;
	padding: 1px 5px;
	color: #838383;
}

.uploader {
	font-size: 11px;
	color: #999;
}

ul.repo-list>li h3 {
	margin: 0;
	width: 410px;
	font-size: 16px;
	font-weight: normal;
	line-height: 30px;
}

ul.repo-list>li .description {
	margin: 0;
	font-size: 14px;
	color: #615656;
	width: 485px;
}

ul.repo-list>li {
	position: relative;
	margin: 0;
	padding: 5px 0;
	border-bottom: 1px solid #eeeeee;
}

ul li {
	list-style-type: none;
}

li {
	line-height: 18px;
}